.ele {
  text-align: center;
  font-size: 4em;
  padding-top: 10%;
  color: #FF5F54;
  text-decoration: underline;
}

body {
  font-family: Futura Bk BT, Arial;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FBFF12;

}

a {
  color: #FBFF12;
  text-decoration: none;
}

.links {
  display: inline-block;
  text-align: center;
  font-size: 2em;
}

.bandcamp {
  height: 64px;
  width: 64px;
}

iframe {
  padding: none;
}
